.weather-card-mini {
    padding: 5px;
}

.card-mini {
    border-radius: 20px;
    background-color: #2561a0;
    color: white;
    border: solid;
    padding: 10px;
    font-size: 30px;
}

.details-mini {
    margin: auto;
    font-size: 20px;
}